.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;
}

.nav__list--item {
    margin-right: 20px;
}

.nav__list--item:last-child {
    margin-right: 0;
}

.nav__list--link {
    font-size: 1.3rem;
    transition: var(--transition);
}

.nav__list--link:hover {
    opacity: 0.7;
}

.nav__list--link.active {
    border-bottom: 2px solid var(--blue-color);
}

@media (max-width: 800px) {
    .nav__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
    }

    .nav__list {
        transform: translateX(-100%);
        align-items: center;
        flex-direction: column;

        position: absolute;
        top: 70px;
        left: 0;
        z-index: 100;

        width: 100%;
        height: 100%;
        background-color: var(--blue-color);
        transition: all 0.4s ease-in-out;
    }

    .nav.active .nav__list {
        transform: translateX(0%);
    }

    .nav__list--item:first-child {
        margin-top: 10%;
    }

    .nav__list--item {
        margin-right: 0;
        margin-bottom: 10px;

        opacity: 0;
        transition: all 0.3s ease-in-out 0.4s;
    }

    .nav.active .nav__list--item {
        opacity: 1;
    }

    .nav__list--item:last-child {
        margin-bottom: 0;
    }

    .nav__list--link {
        font-weight: 500;
        font-size: 1.5rem;
        color: var(--white-color);
    }

    .nav__list--link.active {
        border-bottom-color: var(--white-color);
    }

    .burger-wrapper {
        cursor: pointer;
    }

    .burger {
        position: relative;

        display: inline-block;

        user-select: none;

        transition: 0.7s;
    }

    .burger .burger__line::before,
    .burger .burger__line::after {
        transition: 0.4s;
    }

    .burger__line {
        position: relative;

        width: 2.3rem;
        height: 0.2rem;
        border-radius: 2.5rem;

        transition: 0.5s;
        background: var(--blue-color);
    }
    .burger__line:before,
    .burger__line:after {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;

        height: 0.2rem;
        width: 2.3rem;
        border-radius: 1rem;

        background: var(--blue-color);
        transition: 0.5s 0.25s;
    }
    .burger__line:before {
        top: 0.625rem;
    }
    .burger__line::after {
        top: -0.625rem;
    }

    .active:not(.steps) .burger__line::before,
    .active:not(.steps) .burger__line::after {
        top: 0 !important;
    }

    .nav.active .burger__line::before,
    .nav.active .burger__line::after {
        transition: 0.5s;
    }

    .nav.active .burger__line {
        background: transparent;
    }
    .nav.active .burger__line::before {
        transform: rotate(-45deg);
    }
    .nav.active .burger__line::after {
        transform: rotate(45deg);
    }

    .nav.active .burger {
        transform: scale(0.75) rotate(90deg);
    }
}

@media (max-width: 500px) {
    .nav.active .nav__list {
        top: 60px;
    }
}
