.tasks__item {
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 10px;

    background-color: var(--blue-color);
    transition: var(--transition);
}

.tasks__item.done {
    opacity: 0.5;
}

.tasks__item * {
    color: var(--white-color);
}

.task__item--body {
    display: flex;
    align-items: center;
}

.task__item--level {
    width: 20%;
    height: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.task__item--level.high {
    background-color: var(--red-color);
}

.task__item--level.middle {
    background-color: var(--white-color);
}

.task__item--level.low {
    opacity: 0.5;
    background-color: var(--white-color);
}

.task__item--info {
    margin-right: auto;
}

.tasks__item--title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.task__item--date {
    display: inline-block;

    margin: 0 10px;

    border-bottom: 2px solid var(--white-color);
}

.task__item--date:last-child {
    margin-right: 0;
}

.task__item--date span {
    border-bottom: none;
}

.task__item--button {
    display: block;

    width: 100%;
    margin-bottom: 10px;
}

.task__item--button:first-child {
    color: var(--blue-color);
    background-color: var(--white-color);
}

.task__item--button:last-child {
    margin-bottom: 0;
    background-color: var(--red-color);
}

@media (max-width: 700px) {
    .tasks__item {
        padding: 15px;
        margin-bottom: 40px;
    }

    .task__item--level {
        width: 100%;
        margin-bottom: 30px;
    }

    .task__item--body {
        flex-direction: column;
    }

    .task__item--info {
        text-align: center;
        margin: 0 0 30px 0;
    }

    .tasks__item--title {
        font-size: 1.2rem;
    }

    .task__item--date {
        margin: 0 10px;
    }

    .task__item--controlrs {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .task__item--button {
        margin: 0 10px;
    }
}

@media (max-width: 500px) {
    .task__item--dates {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .task__item--date {
        margin: 0 0 10px 0;
    }

    .task__item--date:last-child {
        margin: 0;
    }

    .task__item--controlrs {
        flex-wrap: wrap;
    }

    .task__item--button {
        margin-bottom: 10px;
    }

    .task__item--button:last-child {
        margin-bottom: 0;
    }
}
