:root {
    --blue-color: rgb(90, 130, 250);
    --white-color: rgb(250, 250, 250);

    --ffamily: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
        Verdana, sans-serif;

    --text-font: 400 18px/1.3 var(--ffamily);
    --text-font-mobile: 300 16px/1.25 var(--ffamily);

    --transition: all 0.2s ease-in-out;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font: var(--text-font);
    color: var(--white-color);
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--blue-color);
}

html.block-scroll {
    overflow: hidden;
}

.container {
    max-width: 1064px;
    margin: auto;
    padding: 20px;
}

.button {
    padding: 10px 50px;
    border-radius: 5px;

    border: none;
    cursor: pointer;
    background-color: var(--blue-color);
    transition: var(--transition);
}

.button:hover {
    opacity: 0.9;
}

.title {
    font-weight: 600;
    font-size: 2rem;
}

.logo {
    font-weight: 700;
    font-size: 2.2rem;
}

.header {
    display: none;
}

.header.active {
    display: block;
}

@media (max-width: 800px) {
    .container {
        padding: 15px;
    }

    .button {
        padding: 9px 50px;
    }
}

@media (max-width: 500px) {
    *,
    *::before,
    *::after {
        font: var(--text-font-mobile);
    }
    .container {
        padding: 10px;
    }

    .button {
        padding: 8px 40px;
    }
}
